.image-upload.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-upload__preview {
  width: 13rem;
  height: 13rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 2px;
}

.image-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hint {
  font-size: 1rem !important;
  color: #2f3036 !important;
  text-transform: capitalize !important;
  font-family: "Open Sans", sans-serif !important;
  font-family: "Source Sans Pro", sans-serif !important;
}
.image-upload button {
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  background: #1a73e7;
  border-radius: 4px;
}
